@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: theme('colors.ink.300');
    border-radius: 99px;
  }
  .dark ::-webkit-scrollbar-thumb {
    background: theme('colors.ink.700');
  }
}

@layer utilities {
  .font-700 { font-weight: 700; }
  .font-600 { font-weight: 600; }
  .font-500 { font-weight: 500; }
  .font-800 { font-weight: 800; }
}
